body {
    background-image: url(https://i.gyazo.com/2f012f984379b17f05d2a2cc8e885601.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.card-img {
    width: 150px;
    height: 150px;
}

a {
    text-decoration: none;
    font-style: normal;
    width: 25px;
}

.card-body > a {
    background-color: rgba(155, 155, 155, 0.212);
    border-radius: 5px;
    padding: 10px;
}

.fa-brands {
    color: #ebebeb;
}

.card-body > a:hover {
    background-color: rgba(155, 155, 155, 0.514);
    border-radius: 5px;
    padding: 10px;
}
